@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vujahday+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,500&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
.navbar{
    background: rgba(54, 79, 107, 0.56);
    border-radius: 0px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.3px);
    -webkit-backdrop-filter: blur(7.3px);
   
}

html { scroll-behavior: smooth; }

body { 
    background-color: #2A2740; 
    color: #fff; 
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
}

.navbar { border-bottom: #3fc1c9 3px solid; opacity: 0.8; }

footer { border-top: #3fc1c9 3px solid; opacity: 0.8; }
.photo { border-bottom: #3fc1c9 3px solid; opacity: 0.8; }

.nav-link{
    color: aliceblue;
}
.navbar-brand{
    color:aliceblue;
}
.carousel-control-prev,
.carousel-control-next {
    width: 15%;
}

.navbar.sticky-top {
    top: -100px;
    transition: .5s;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    background-color: var(--primary);
    border: 10px solid var(--primary);
}

@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }
    
    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.maint{
    font-family: 'Vujahday Script', cursive;
    font-size: 60px;

}
.maint {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  


#portfolio-flters li:hover,
#portfolio-flters li.active {
    color: var(--primary);
    border-color: var(--primary);
}

.portfolio-inner {
    position: relative;
    overflow: hidden;
}

.portfolio-inner::before,
.portfolio-inner::after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(140, 102, 166, 0.6);
    transition: .5s;
}

.portfolio-inner::after {
    left: auto;
    right: 0;
}

.portfolio-inner:hover::before,
.portfolio-inner:hover::after {
    width: 50%;
}

.portfolio-inner .portfolio-text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .5s;
    z-index: 3;
    opacity: 0;
}

.portfolio-inner:hover .portfolio-text {
    transition-delay: .3s;
    opacity: 1;
}

.portfolio-inner .portfolio-text .btn {
    background: var(--light);
    color: var(--primary);
}

.portfolio-inner .portfolio-text .btn:hover {
    background: var(--primary);
    color: var(--light);
}

.menu {
    color: white;
    text-decoration: none;
    font-size: 25px;
    border: none;
    background: none;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
  }
  
  .menu::before {
    margin-left: auto;
  }
  
  .menu::after, .menu::before {
    content: '';
    width: 0%;
    height: 2px;
    background: #3BA3AE;
    display: block;
    transition: 0.5s;
  }
  
  .menu:hover::after, .menu:hover::before {
    width: 50%;
  }

  
.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
    /* background-color: #8c66a6; */
    color: aliceblue;
   
}


/* NAVBAR */

.nav-link {
    color: white;
    text-decoration: none;
    font-size:15px;
    border: none;
    background: none;
    font-weight: lighter;
    font-family: 'Poppins', sans-serif;
  }
  
  .nav-link::before {
    margin-left: auto;
    
  }
  
  .nav-link::after, .nav-link::before {
    content: '';
    width: 0%;
    height: 2px;
    background: #3BA3AE;
    display: block;
    transition: 0.5s;
    
  }
  
  .nav-link:hover::after, .nav-link:hover::before {
    width: 50%;
   
  }

  /* CONTACT FORM */
  .input {
    line-height: 28px;
    border: 2px solid transparent;
    border-bottom-color: #777;
    padding: .2rem 0;
    outline: none;
    background-color: transparent;
    color: #0d0c22;
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
   }
   
   .input:focus, input:hover {
    outline: none;
    padding: .2rem 1rem;
    border-radius: 1rem;
    border-color: #7a9cc6;
   }
   
   .input::placeholder {
    color: #777;
   }
   
   .input:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
   }


   .sendbtn {
    color: white;
    text-decoration: none;
    font-size:15px;
    border: none;
    background: none;
    font-weight: lighter;
    font-family: 'Poppins', sans-serif;
  }
  
  .sendbtn::before {
    margin-left: auto;
    
  }
  
  .sendbtn::after, .sendbtn::before {
    content: '';
    width: 0%;
    height: 2px;
    background: #3BA3AE;
    display: block;
    transition: 0.5s;
    
  }
  
  .sendbtn:hover::after, .sendbtn:hover::before {
    width: 50%;
   
  }

  


  
  

